{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": 0,
    "no-unused-expressions": "off",
    "no-shadow":"off",
    "no-unused-vars":"warn",
    // "import/no-dynamic-require":"warn",
    "global-require":"warn",
    // "sequelize/create-indexes-concurrently":"error"
},
"extends": ["eslint:recommended", "plugin:prettier/recommended"]
}
